/*Set up the styling */
.App {
  text-align: center;
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  height:100vh;
  
}
a{
  text-decoration: none;
  color:inherit;
}
/*Styling the navbar*/

nav{
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color:white;
}
nav div{
  width:100px;
}
.navbar ul{
  width:100%;
display:flex;
align-items: center;
justify-content: space-around;
}
.navbar ul li{
list-style-type: none;
transition: 2s;
display:flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.navbar ul li div{
  position:relative;
  left:0px;
  top:2px;
  width:20px;
  height:2px;
  background-color: white;
  border-radius:1px;
  transition: 0.3s;
}
.navbar ul li:hover div{
width:60px;
height:3px;
}
.home{
  height:60%;
  display:flex;
  align-items:center;
  justify-content: center;
}

/*Sign In form*/
.sign-form{
  margin:20px;
  height:200px;
  width:400px;
  display:flex;
  align-items:center;
  justify-content: center;
  background-color: rgb(240, 240, 204);
  border-radius:10px;
}
.sign-form button{
  border:none;
  outline:none;

  padding:10px;
  border-radius:10px;
}
.sign-in-btn{
    background-color:greenyellow;
}
.sign-out-btn{
  background-color:rgb(240, 98, 79);
  color:white;
}